<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:fire='http://schemas.microsoft.com/wix/FirewallExtension'>
  <Product Name='RandomV2' Id='{B87EFFF7-3C41-400B-AD86-452FC9D0A9D2}' UpgradeCode='{C9BD5CFC-A738-46BE-81A2-47F3A86D7FED}'
    Language='1033' Codepage='1252' Version='2.0.0' Manufacturer='STFC, ISIS Facility'>

    <Package Id='*' Keywords='Installer' Description="ISIS EPICS's Random 2.0 Installer"
      Comments='Run time version of EPICS IOC for and ISIS Instrument' Manufacturer='STFC, ISIS Facility'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='Setup.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="ISIS EPICS's Random 2.0 Installer [1]" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='IsisEpics' Name='ISIS EPICS'>
          <Directory Id='INSTALLDIR' Name='Random 2.0'>

            <Component Id='MainExecutable' Guid='{DAAC8459-2A07-4FED-86CF-11DA85DF028B}'>
              <RemoveFolder Id='INSTALLDIR' On='uninstall' />
              <File Id='FoobarEXE' Name='rand.exe' DiskId='1' Source='randApp\src\O.windows-x64-debug\rand.exe' KeyPath='yes'>
                <Shortcut Id="startmenuFoobar10" Directory="ProgramMenuDir" Name="Random 2.0" WorkingDirectory='INSTALLDATADIR' Icon="rand.exe" Arguments="st.cmd" IconIndex="40" Advertise="yes" />
                <Shortcut Id="startmenuFoobar11" Directory="ProgramMenuDir" Name="Random 2.1" WorkingDirectory='INSTALLDATADIR' Icon="rand.exe" Arguments="st2.cmd" IconIndex="40" Advertise="yes" />
                <Shortcut Id="desktopFoobar10" Directory="DesktopFolder" Name="Random 2.0" WorkingDirectory='INSTALLDATADIR' Icon="rand.exe" IconIndex="40" Advertise="yes" />
                <fire:FirewallException Id="FWX1" Name="EPICS-RandomIOC-v2" Scope="any"/>
              </File>
              <File Id='FoobarEX1E' Name='rand.pdb' DiskId='1' Source='randApp\src\O.windows-x64-debug\rand.pdb' />
              <Shortcut Id="UninstallProduct" Name="Uninstall My Application" Description="Uninstalls My Application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
            </Component>

            <Component Id='HelperLibrary' Guid='{54C6E0B4-2A13-45F0-8199-017ADBE24B94}'>
              <File Id='HelperDLL1' Name='randSupport.dll' DiskId='1' Source='randApp\src\O.windows-x64-debug\randSupport.dll' KeyPath='yes' />
              <File Id='HelperDLL3' Name='RECIOC.DLL' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\RECIOC.DLL' />
              <File Id='HelperDLL4' Name='SOFTDEVIOC.DLL' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\SOFTDEVIOC.DLL' />
              <File Id='HelperDLL5' Name='MISCIOC.DLL' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\MISCIOC.DLL' />
              <File Id='HelperDLL0' Name='dbIoc.dll' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\dbIoc.dll' />
              <File Id='HelperDLL8' Name='dbstaticIoc.dll' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\dbstaticIoc.dll' />
              <File Id='HelperDLL11' Name='DBTOOLSIOC.dll' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\DBTOOLSIOC.dll' />
              <File Id='HelperDLL6' Name='ASIOC.DLL' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\ASIOC.DLL' />
              <File Id='HelperDLL7' Name='REGISTRYIOC.DLL' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\REGISTRYIOC.DLL' />
              <File Id='HelperDLL9' Name='COM.dll' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\COM.dll' />
              <File Id='HelperDLL10' Name='RSRVIOC.dll' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\RSRVIOC.dll' />
              <File Id='HelperDLL12' Name='CA.dll' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\CA.dll' />
              <File Id='HelperDLL13' Name='CAGET.EXE' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\caget.exe'>
                <fire:FirewallException Id="FWX2" Name="EPICS-CAGET.EXE" Scope="any" />
              </File>
              <File Id='HelperDLL14' Name='CAREPEATER.EXE' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\carepeater.exe'>
                <fire:FirewallException Id="FWX3" Name="EPICS-CAREPEATER.EXE" Scope="any" />
              </File>
              <File Id='HelperDLL15' Name='CAPUT.EXE' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\caPUT.exe'>
                <fire:FirewallException Id="FWX4" Name="EPICS-CAREPEATER.EXE" Scope="any" />
              </File>
            </Component>

            <Component Id='DebugLibrary' Guid='{2FD98AC7-6EC0-4910-AFBF-90473AC20DFB}'>
              <File Id='DebugDLL1' Name='MSVCR110D.DLL' DiskId='1' Source='C:\Program Files (x86)\Microsoft Visual Studio 11.0\VC\redist\Debug_NonRedist\x64\Microsoft.VC110.DebugCRT\MSVCR110D.DLL' />
              <File Id='DebugDLL2' Name='MSVCP110D.DLL' DiskId='1' Source='C:\Program Files (x86)\Microsoft Visual Studio 11.0\VC\redist\Debug_NonRedist\x64\Microsoft.VC110.DebugCRT\MSVCP110D.DLL' />
            </Component>
 <!--           <Component Id='System' Guid='{7BDA6C1C-27AE-4630-B09D-5F3F0DFCC97A}'>
              <File Id='Debug1' Name='MSVCR110D.DLL' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\base\3-14-12-2\bin\windows-x64-debug\KERNEL32.DLL' />
              <Shortcut Id="startmenuManual" Directory="ProgramMenuDir" Name="Instruction Manual" Advertise="yes" />
              </File>
            </Component>
-->
            <Component Id='Manual' Guid='{07A650FE-0499-431A-921E-13ABAFDB8B6D}'>
              <File Id='Manual' Name='Manual.pdf' DiskId='1' Source='Manual.pdf' KeyPath='yes'>
                <Shortcut Id="startmenuManual" Directory="ProgramMenuDir" Name="Instruction Manual" Advertise="yes" />
              </File>
            </Component>

          </Directory>
        </Directory>
      </Directory>

      <Directory Id="CommonAppDataFolder" Name="DataDir">
        <Directory Id='IsisEpicsData' Name='ISIS EPICS DATA'>
          <Directory Id='INSTALLDATADIR' Name='Random 2.0'>
             <Component Id="ProgramDataDir" Guid="{EB96372A-4C5C-4ED9-823D-87F5D1DEA9D8}">
               <File Id='Database1' Name='rand.db' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\ISIS\RandomNumber\db\rand.db' KeyPath='yes'/>
               <File Id='DatabaseDef1' Name='rand.dbd' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\ISIS\RandomNumber\dbd\rand.dbd' />
               <File Id='Startscript1' Name='st.cmd' DiskId='1' Source='C:\Users\Chris\Desktop\EPICS\ISIS\RandomNumber\iocBoot\iocrand\stWin2.cmd' />
             </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Random 2.0">
          <Component Id="ProgramMenu" Guid="{135EDDEA-A9A1-43A6-8D18-8723AF819952}">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
      </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='HelperLibrary' />
      <ComponentRef Id='Manual' />
      <ComponentRef Id='ProgramDataDir' />
      <ComponentRef Id='ProgramMenu' />
      <ComponentRef Id='DebugLibrary' />
    </Feature>

    <Icon Id="rand.exe" SourceFile="C:\Windows\system32\SHELL32.dll" />

  </Product>
</Wix>
